

html , body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}

/* Part-1 */

/* .part-1 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
} */

/* .content-part-1 {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100vh;
} */

.rotate-div {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 200vw;
    height: 200vh;
    background-color: #000; */
    scale: 1;
}

.row-div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: calc(200vw/5);
    height: 100%;
}

.img-div {
    width: 100%;
    height: calc(100%/4);
    border-radius: 10px;
    overflow: hidden;
}

.img-div img {
    width: 100%;
}

#rowDiv2 {
    margin-top: -3%;
}

#rowDiv3 {
    margin-top: -5%;
}

#rowDiv4 {
    margin-top: -8%;
}

#rowDiv5 {
    margin-top: -11%;
}

.overlay-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000000;
    font-size: 5vw;
}

.overlay-div h1 {
    opacity: 0;
}

.scroll-down {
    position: absolute;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    color: #fff;
}

.scroll-down h3 {
    font-size: 0.7vw;
}

.scroll-p {
    width: 5vw;
    height: 2px;
    border-radius: 50px;
    background-color: #ffffff55;
}

.scrolling {
    width: 0vw;
    height: 2px;
    border-radius: 50px;
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .img-div {
        width: 40vw;
        height: calc(100%/5);
        border-radius: 10px;
        overflow: hidden;
    }

    .row-div {
        grid-row-gap: 1em;
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .img-div img {
        max-width: fit-content;
    }
    
  }

@media only screen and (max-width: 540px) {
    .img-div {
        width: 56vw;
        height: calc(100%/5);
        border-radius: 10px;
        overflow: hidden;
    }

    .row-div {
        grid-row-gap: 1em;
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .img-div img {
        max-width: fit-content;
    }
    
  }

@media only screen and (max-width: 420px) {
    .img-div {
        width: 62vw;
        height: calc(100%/8);
        border-radius: 10px;
        overflow: hidden;
    }

    .row-div {
        grid-row-gap: 1em;
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .img-div img {
        max-width: fit-content;
    }

    #rowDiv2 {
        margin-top: -7%;
    }
    
    #rowDiv3 {
        margin-top: -10%;
    }
    
    #rowDiv4 {
        margin-top: -13%;
    }
    
    #rowDiv5 {
        margin-top: -14%;
    }
    
  }



/* part-2 */

/* .part-2 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
} */

.rounded-div-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: -100px;
}

.rounded-div {
    position: absolute;
    left: 50%;
    width: 150%;
    height: 750%;
    border-radius: 50%;
    background-color: #000a13;
    transform: translate(-50%);
}

/* .content-2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000a13;
    overflow: hidden;
} */

.text-area {
    position: absolute;
    color: #fff;
    opacity: 0.2;
    left: 5%;
    width: 100%;
}

.text-area-hover {
    position: absolute;
    color: #fff;
    left: 5%;
    opacity: 1;
}

.text-area-hover span{
    color: #facc15;
}

.text-area h2, .text-area-hover h2 {
    font-size: 5vw;
}

.text-area h4, .text-area-hover h4 {
    /* margin-left: 5vw; */
    font-size: 3vw;
}

.text-area-hover h2 {
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden;
}

.text-area-hover h4 {
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden;
}

/* part-4 */
.part-4 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.lft-part-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    width: 50%;
    height: 100%;
}

/* .cir-part-4 img {
    width: 5vw;
} */

.lft-part-4 h4 {
    font-size: 4vw;
}

.cir-part-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    background-color: #f4f4f4;
    border-radius: 50%;
}

.rght-part-4 {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    width: 50%;
    height: 200%;
    margin-top: 25%;
    padding-left: 8vw;
}

/* .content-rght-part-4 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    opacity: 0;
    background-color: red;
} */

.content-rght-part-4 {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    opacity: 0;
    min-height: 45vh;
    width: 40vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 14px 0px rgba(0,0,0,.17);
    background-color: red;
}

.content-rght-part-4 h1 {
    font-size: 1.5vw;
}


.content-rght-part-4 p {
    font-size: 1.5vw;
    text-align: center;
    width: 75%;
}

