.loading-page {
    position: fixed; /* Fixed ensures the loading screen stays visible */
    top: 0;
    left: 0;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 9999; /* Make sure it stays on top */
  }

#svg {
  height: 70px;
  width: 422px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 4500;
  animation: draw 30s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.loading-page.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s;
  }